@use '../utils/variables' as *;

:root {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    margin:  0;
}
body {
    margin: 0;
    padding: 0;
    background-color: $color-background-body;
    color: $color-text-base;
}